<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="30; url=http://127.0.0.1:5000/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meme Website</title>
    <style>
      body {
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: top-left;
      }
      h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: #000000;
      }
      p {
        text-align: center;
        font-family: Georgia, serif;
        font-size: 48px;
        font-style: normal;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <h1>A website to gather some memes!</h1>
    <p>Here is your meme! This will refresh in 30 seconds.</p>
    <p><img src="{{meme_pic}}" /></p> <!-- This is the line that will display the meme -->
    <p>Current subreddit:{{subreddit}}</p> <!-- This is the line that will display the subreddit -->
    <p>Author: {{author}}</p> <!-- This is the line that will display the author -->
  </body>
</html>
